.background-section__text {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn-studio {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFF;
    background-color: var(--barand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: #188CE8;
    }
}

.background-section {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/img_mobail/header-img-mobail.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #2F303A;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .background-section {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/img_mobail/header-img-mobail@2x.jpg');
    }
}

// tabl
@media screen and(min-width: 768px) {
    .background-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/tablet/header-img-tablet.jpg');
    }

    .background-section__text{
        max-width: 360px;
    }
        
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px){
    .background-section {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/tablet/header-img-tablet@2x.jpg');
    }
}


// desktop
@media screen and(min-width: 1200px) {
    .background-section {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/bg.jpg');
            padding-top: 200px;
            padding-bottom: 200px
    }

        .background-section__text {
            font-size: 44px;
            max-width: 670px;
        }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .background-section {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url('..//images/bg@2x.jpg');
    }
}