.nav {
    display: none;
}

.menu-list2 {
    display: none;
}

.menu-list2__icon-mail{
    display: none;
}

.menu-list2__icon-telef{
    display: none;
}

.logo-text-padd {    
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0.03em;
    color: #000;
    
}

@media screen and(min-width: 768px) {

    .logo-text{
        margin-right: 88px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .open-mobile-menu-btn {
        display: none;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .main-header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-list1__link {
        padding: 32px 0px;

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
        position: relative;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            &:hover,
            &:focus{
                color: var(--barand-color); 
            }
    }

    .menu-list1 .active {
        color: var(--barand-color);
    }
    
    .menu-list1 {
        column-gap: 50px;
        display: flex;
    }

    .current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;

        background-color: var(--barand-color);
        border-radius: 2px;
        width: 100%;
        height: 4px;
        display: block;
        transform: scaleX(1);
    }

    .menu-list2__link-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 10px;
        padding: 1px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--barand-color);
        }       
    }   

    .menu-list2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-left: auto;
    }

    .menu-list2__icon-mail {
        display: flex;
        width: 16px;
        height: 12px;
        fill: currentColor;
    }

    .menu-list2__icon-telef {
        display: flex;
        width: 10px;
        height: 16px;
        fill: currentColor;
    }

    .main-header {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.main-header {
    border-bottom: 1px solid #ECECEC;
}

.open-mobile-menu-btn {
    line-height: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.open-mobile-menu-btn__icon {    
    width: 40px;
    height: 40px;
}

.logo-text-span {
    color: var(--barand-color);
}


@media screen and(min-width: 1200px){

    .current::after {
        bottom: 0px;
    }

    .logo-text{
        margin-right: 92px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .menu-list2 {
        flex-direction: row;
        display: flex;
        align-items: flex-start;
        column-gap: 50px;
        margin-left: auto;
    }

    .menu-list2__icon-mail {
        display: block;
        width: 16px;
        height: 12px;
        fill: currentColor;
    }

    .menu-list2__icon-telef {
        display: block;
        width: 10px;
        height: 16px;
        fill: currentColor;
    }

}