.btn {
    padding: 6px 22px;
    border: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px;


    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: #fff;
    background-color: var(--barand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.btn-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 50px;
    justify-content: flex-start;
    max-width: 430px;
}

@media screen and (min-width: 768px) {
    .btn-list {
        justify-content: center;
        max-width: 100%;
    }
}

.img-portfolio {
    min-width: 450px;
}

.box-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: calc((100% - 0px) / 1);
    background-color: #fff;
}



@media screen and(min-width: 768px) {
    .box-content {
        flex-basis: calc((100% - 30px) / 2);
    }

    .img-portfolio {
        min-width: 354px;
    }
}

@media screen and(min-width: 1200px) {
    .box-content {
        flex-basis: calc((100% - 60px) / 3);
    }

    .img-portfolio {
        min-width: 370px;
    }
}

@media screen and (max-width: 479px) {
    .img-portfolio {
            min-width: 200px;
    }
}

.box-content-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}



.box-tumb {
    position: relative;
    overflow: hidden;
}

.overlay-tumb {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .box-content-link:hover &,
    .box-content-link:focus & {
    transform: translateY(0);
    }
}   

.text-tumb {
    position: absolute;
    top: 64px;
    bottom: 64px;
    left: 24px;
    right: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;

    letter-spacing: 0.03em;
    color: #FFF;
}

.carst-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.h-box {
    margin-bottom: 4px;

    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text-box {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.box-content-text {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    flex-grow: 1;

    border: 1px solid #EEEEEE;
    border-top: 0;
}