.mobail-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:99999999999999;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}



.close-mobile-menu-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: 0;
    padding: 0;
    background-color: transparent;
    line-height: 0; 
}

.close-mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
    
    &:hover,
    &:focus {
        fill: var(--barand-color);
    }   
}
.mobail-menu__container {
    min-height: 600px;
    position: relative;
}

.mobail-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list-mobaile__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 1.17;
    color: #212121;    

    &:hover,
    &:focus{
        color: var(--barand-color);
    }

    &.active {
        color: var(--barand-color);
    }
}

.menu-list-mobaile {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 48px;
    padding-left: 25px;
    margin-bottom: 302px;    
}

@media screen and (max-height: 760px) {
    .menu-list-mobaile{
        margin-bottom: 120px;
    }
}
.menu-mobaile-links {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
    padding-left: 25px;
}

.menu-mobaile-links__link-header-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 1.17;
    color: var(--barand-color);
}

@media screen and (max-width:479px) {
    .menu-mobaile-links__link-header-tel {
        font-size: 24px;
    }
    
}

.menu-mobaile-links__link-header-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.16;
    color: #757575;

    &:hover,
    &:focus {
        color: var(--barand-color);
    }
}

.menu-social-networks {
    min-width: 1em;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;;   
}



.open-mobile-menu-btn__icon:hover,
.open-mobile-menu-btn__icon:focus{
    fill: var(--barand-color);
}

.menu-social-networks__link {
    margin-bottom: 48px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--barand-color);
}

.menu-social-networks__link--border{
    border: 0;
}