.section {
    padding-top: 60px;
}

@media screen and (max-width:1199px) {
    .section-bottom {
        padding-bottom: 60px;
    }
}

@media screen and(min-width: 1200px) {
    .section {
        padding-top: 94px;
    }
}


.studio-section {
    padding-bottom: 60px;
    background-color: #F5F4FA;
}

@media screen and (min-width: 1200px) {
    .studio-section {
        padding-bottom: 94px;
    }
}

.studio-section-link {
    padding-bottom: 60px;
}
.foother-section {
    display: flex;
}





@media screen and (min-width: 768px) {
    .foother-section {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 767px) {
    .foother-section {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
}

.section-csrts {
    padding-top: 92px;
    padding-bottom: 96px;
}

@media screen and (max-width: 1200px) {
    .section-csrts {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .studio-section-link {
        padding-bottom: 94px;
    }

    .foother-section {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

